body {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(54, 54, 54);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    width: 500px;
}

@keyframes bounce{
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}

h2 {
    margin-bottom: 10px;
    animation: bounce 0.40s ease infinite alternate;
    font-size: 260%;
}

#logo1 {
    display: flex;
    height: 100px;
    width: 100px;
    background-image: url(money.gif);
    background-position: 100%;
    background-size: 100%;
}

#logo2 {
    display: flex;
    height: 100px;
    width: 100px;
    background-image: url(money.gif);
    background-position: 100%;
    background-size: 100%;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

#moneycount {
    font-style: italic;
    font-size: 40px;
    text-align: center;
}