body {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(54, 54, 54);
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 15px;
    width: 500px;
}

@keyframes bounce{
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}

h2 {
    margin-bottom: 10px;
    animation: bounce 0.40s ease infinite alternate;
    font-size: 260%;
}

#logo1 {
    display: flex;
    height: 100px;
    width: 100px;
    background-image: url(money.gif);
    background-position: 100%;
    background-size: 100%;
}

#logo2 {
    display: flex;
    height: 100px;
    width: 100px;
    background-image: url(money.gif);
    background-position: 100%;
    background-size: 100%;
}

#cardstext {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 40px;
    font-style: italic;
}

main {
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    overflow-x: auto;
    max-width: 350px;
    max-height: 600px;
    margin-top: 30px;
}

.wrapper::-webkit-scrollbar {
    width: 0;
}

.wrapper .item{
    min-width: 230px;
    height: 400;
    line-height: 400px;
    text-align: center;
    background-color: gray;
    margin-right: 10px;
    border-radius: 10px;
}

#item1 {
    background-image: url(firstcard.png);
    background-size: 300%;
    background-position: 200%;
}

#item2 {
    background-image: url(secondcard.png);
    background-size: 110%;
    background-position: 100%;
}

#item3 {
    background-image: url(thirdcard.png);
    background-size: 175%;
    background-position: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: px;
    height: 100px;
    color: white;
  }
  
  #homespace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
  }
  
  #homeicone {
    display: flex;
    width: 50px;
    height: 50px;
    background-image: url(money.png);
    background-position: 100%;
    background-size: 100%;
  }
  
  #cardsspace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
  }
  
  #cardsicone {
    display: flex;
    width: 50px;
    height: 50px;
    background-image: url(cards.png);
    background-position: 100%;
    background-size: 100%;
  }
  
  #graphespace {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
  }
  
  #grapheicone {
    display: flex;
    width: 50px;
    height: 50px;
    background-image: url(graphe.png);
    background-position: 100%;
    background-size: 100%;
  }
  
  @keyframes grossissementcartes {
    from {
      width: 50px;
      height: 50px;
    }
  
    to {
      width: 65px;
      height: 65px;
    }
  }
  
  #grapheicone:hover {
      cursor: pointer;
      animation: grossissementcartes 2s forwards;
  }
  
  #cardsicone:hover {
      cursor: pointer;
      animation: grossissementcartes 2s forwards;
  }
  
  #homeicone:hover {
      cursor: pointer;
      animation: grossissementcartes 2s forwards;
  }