#moneycount {
  font-style: italic;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

main {
  margin-top: 50px;
}

.grid-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1px;
  background-color: black;
}

.calculator-grid button {
  font-size: 25px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-family: "DM Mono", monospace;
}

textarea {
  grid-column: span 4;
  font-size: 25px;
  text-align: end;
  background-color: var(--color-of-border);
  padding: 5px;
  border: none;
}

.calculator-grid button:nth-child(n + 18) {
  background-color: var(--color-of-border);
}

button:hover,
.calculator-grid button:nth-child(n + 18):hover {
  background-color: var(--color-of-border);
  color: white;
  transition: 0.2s;
}

#themeButtonspace {
  display: flex;
  justify-content: center;
}