body {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(54, 54, 54);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  width: 500px;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

h2 {
  margin-bottom: 10px;
  animation: bounce 0.4s ease infinite alternate;
  font-size: 260%;
}

#logo1 {
  display: flex;
  height: 100px;
  width: 100px;
  background-image: url(../assets/money.gif);
  background-position: 100%;
  background-size: 100%;
}

#logo2 {
  display: flex;
  height: 100px;
  width: 100px;
  background-image: url(../assets/money.gif);
  background-position: 100%;
  background-size: 100%;
}

#moneycount {
  font-style: italic;
  font-size: 40px;
  text-align: center;
  margin-top: 10px;
}

main {
    margin-top: 50px;
}

.grid-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.calculator-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1px;
  background-color: black;
}

.calculator-grid button {
  font-size: 25px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-family: "DM Mono", monospace;
}

textarea {
  grid-column: span 4;
  font-size: 25px;
  text-align: end;
  background-color: pink;
  padding: 5px;
  border: none;
}

.calculator-grid button:nth-child(n + 18) {
  background-color: pink;
}

button:hover,
.calculator-grid button:nth-child(n + 18):hover {
  background-color: cadetblue;
  color: white;
  transition: 0.2s;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: px;
  height: 100px;
  color: black;
}

#homespace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

#homeicone {
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url(../assets/money.png);
  background-position: 100%;
  background-size: 100%;
}

#cardsspace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

#cardsicone {
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url(../assets/cards.png);
  background-position: 100%;
  background-size: 100%;
}

#graphespace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

#grapheicone {
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url(../assets/graphe.png);
  background-position: 100%;
  background-size: 100%;
}

#calculatorspace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

#calculatoricone {
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url(../assets/calculator.png);
  background-position: 100%;
  background-size: 100%;
}

@keyframes grossissementcartes {
  from {
    width: 50px;
    height: 50px;
  }

  to {
    width: 70px;
    height: 70px;
  }
}

#grapheicone:hover {
  cursor: pointer;
  animation: grossissementcartes 0.8s forwards;
}

#cardsicone:hover {
  cursor: pointer;
  animation: grossissementcartes 0.8s forwards;
}

#homeicone:hover {
  cursor: pointer;
  animation: grossissementcartes 0.8s forwards;
}

#calculatoricone:hover {
  cursor: pointer;
  animation: grossissementcartes 0.8s forwards;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}