/* Head part */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  width: 100%px;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

h2 {
  margin-bottom: 10px;
  animation: bounce 0.4s ease infinite alternate;
  font-size: 260%;
}

#logo1 {
  display: flex;
  height: 100px;
  width: 100px;
  background-image: url(../assets/money.gif);
  background-position: 100%;
  background-size: 100%;
}

#logo2 {
  display: flex;
  height: 100px;
  width: 100px;
  background-image: url(../assets/money.gif);
  background-position: 100%;
  background-size: 100%;
}

#moneycount {
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

/* body part */
body {
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-image: url(../assets/AccuratemoneyBackground.png);
  background-size: auto;
  background-attachment: fixed;
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(198,150,201,1) 0%, rgba(192,152,203,1) 37%, rgba(212,134,233,1) 47%, rgba(153,216,235,1) 78%, rgba(216,244,250,1) 100%); */
}

/* foot part */
footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  height: 100px;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  footer {
    font-size: 12px;
  }
}

#homespace,
#cardsspace,
#graphespace,
#calculatorspace,
#historiquespace,
#slatespace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

#homeicone {
  background-image: url(../assets/money.png);
}
#cardsicone {
  background-image: url(../assets/cards.png);
}
#grapheicone {
  background-image: url(../assets/graphe.png);
}
#calculatoricone {
  background-image: url(../assets/calculator.png);
}
#historyicone {
  background-image: url(../assets/history.png);
}
#slateicone {
  background-image: url(../assets/slate.png);
}

#homeicone,
#cardsicone,
#grapheicone,
#calculatoricone,
#historyicone,
#slateicone {
  display: flex;
  width: 50px; /* Taille par défaut */
  height: 50px; /* Taille par défaut */
  background-position: center;
  background-size: 100%;
}

/* Media query pour les écrans de petite taille */
@media screen and (max-width: 480px) {
  #homeicone,
  #cardsicone,
  #grapheicone,
  #calculatoricone,
  #historyicone,
  #slateicone {
    width: 38px; /* Taille réduite pour les petits écrans */
    height: 38px; /* Taille réduite pour les petits écrans */
  }
}

@keyframes grossissementcartes {
  from {
    width: 50px;
    height: 50px;
  }

  to {
    width: 70px;
    height: 70px;
  }
}

#homeicone:hover,
#cardsicone:hover,
#grapheicone:hover,
#calculatoricone:hover,
#historyicone:hover,
#slateicone:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

#homeicone:not(:hover),
#cardsicone:not(:hover),
#grapheicone:not(:hover),
#calculatoricone:not(:hover),
#historyicone:not(:hover),
#slateicone:not(:hover) {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
