body {
  margin: 0;
  max-height: 100vh;
}

:root {
  --color-of-border : pink;
  --color-of-text : black;
}

#themeButton {
  margin-top: 20px;
  width: 50px;
}

#themeButton:hover {
  cursor: pointer;
}

/* Head part */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  width: 100%px;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

h2 {
  margin-bottom: 10px;
  animation: bounce 0.4s ease infinite alternate;
  font-size: 260%;
}

#moneylogo1 {
  display: flex;
  height: 100px;
  width: 100px;
  background-image: url(../assets/money.gif);
  background-position: 100%;
  background-size: 100%;
}

#moneylogo2 {
  display: flex;
  height: 100px;
  width: 100px;
  background-image: url(../assets/money.gif);
  background-position: 100%;
  background-size: 100%;
}

@media screen and (max-width: 480px) {
  #moneylogo1,
  #moneylogo2 {
    width: 30px;
    height: 30px;
  }
}

#moneycount {
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

/* body part */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* foot part */
footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 100px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  footer {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 12px;
  }
}

#homespace,
#cardsspace,
#graphespace,
#calculatorspace,
#historiquespace,
#slatespace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

#homeicone {
  background-image: url(../assets/money.png);
}
#cardsicone {
  background-image: url(../assets/cards.png);
}
#grapheicone {
  background-image: url(../assets/graphe.png);
}
#calculatoricone {
  background-image: url(../assets/calculator.png);
}
#historyicone {
  background-image: url(../assets/history.png);
}
#slateicone {
  background-image: url(../assets/slate.png);
}

#homeicone,
#cardsicone,
#grapheicone,
#calculatoricone,
#historyicone,
#slateicone {
  display: flex;
  width: 50px; /* Taille par défaut */
  height: 50px; /* Taille par défaut */
  background-position: center;
  background-size: 100%;
}

/* Media query pour les écrans de petite taille */
@media screen and (max-width: 480px) {
  #homeicone,
  #cardsicone,
  #grapheicone,
  #calculatoricone,
  #historyicone,
  #slateicone {
    width: 38px; /* Taille réduite pour les petits écrans */
    height: 38px; /* Taille réduite pour les petits écrans */
  }
}

@keyframes grossissementcartes {
  from {
    width: 50px;
    height: 50px;
  }

  to {
    width: 70px;
    height: 70px;
  }
}

#homeicone:hover,
#cardsicone:hover,
#grapheicone:hover,
#calculatoricone:hover,
#historyicone:hover,
#slateicone:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

#homeicone:not(:hover),
#cardsicone:not(:hover),
#grapheicone:not(:hover),
#calculatoricone:not(:hover),
#historyicone:not(:hover),
#slateicone:not(:hover) {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

