main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

#moneycount {
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

#screenspace {
  display: flex;
  width: 70%;
  height: 50%;
  margin-top: 60px;
  border-radius: 10px;
  border: 10px solid pink;
}

#canvasheight {
  width: 100%;
  height: fit-content;
  background-color: #FAFAD2;
}

@media (prefers-color-scheme: dark) {
  #screenspace {
    border: 10px solid rgb(78, 113, 218);
  }
}
