main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#clearButton {
  margin-top: 50px;
  width: 100px;
  height: 50px;
  border: 5px solid var(--color-of-border);
  background-color: transparent;
  border-radius: 20px;
  font-weight: bold;
}

#historictext {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 40px;
  font-style: italic;
}

#historicspace {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
  min-height: 300px;
  max-height: 300px;
  max-width: 300px;
}

.wrapper {
  display: flex;
  overflow-x: auto;
  max-height: 250px;
  min-height: 250px;
  max-width: 300px;
  min-width: 300px;
  margin-top: 30px;
  border: 5px solid var(--color-of-border);
  border-radius: 10px;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.item {
  display: flex;
  width: 100%;
}

ul {
  display: flex;
  justify-content: start;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  min-width: 100%;
}

.removeButtonHistory {
  background: transparent;
  background-image: url(../assets/suppr.png);
  background-position: center;
  background-size: 100%;
  max-height: 15px;
  min-height: 15px;
}

.removeButtonHistory:hover {
  cursor: pointer;
}

#clearButton {
  color: var(--color-of-text);
}
#clearButton:hover {
  cursor: pointer;
  background-color: transparent;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

#clearButton:not(:hover) {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

#clearButton:active {
  border: 5px solid white;
}

.message {
  max-width: 70px;
}