main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#clearButton {
  margin-top: 50px;
  width: 100px;
  height: 50px;
  border: 5px solid pink;
  background-color: transparent;
  border-radius: 20px;
  font-weight: bold;
}

#historictext {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 40px;
  font-style: italic;
}

#historicspace {
  display: flex;
  overflow: hidden;
  position: relative;
  margin-top: 40px;
  min-height: 300px;
  max-height: 300px;
  max-width: 300px;
}

.wrapper {
  display: flex;
  overflow-x: auto;
  max-height: 300px;
  max-width: 300px;
  margin-top: 30px;
  border: 2px solid black;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

li {
  max-width: 250px;
  margin-right: 32px;
}

#clearButton:hover {
  cursor: pointer;
  background-color: transparent;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

#clearButton:not(:hover) {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

#clearButton:active {
  border: 5px solid white;
}

@media (prefers-color-scheme: dark) {
  #clearButton {
    border: 5px solid rgb(78, 113, 218);
  }
}
