main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 440px;
  margin-top: 15px;
  width: 100%;
}

#moneycount {
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

#amountspace {
  display: flex;
  justify-content: center;
}

#spent {
  margin-top: 15px;
  font-size: 200%;
}

@keyframes grossissement {
  from {
    font-size: 65%;
  }

  to {
    font-size: 75%;
  }
}

#spentButton, #incomeButton, #setButton {
  background-color: white;
  font-size: 20px;
  border-radius: 100px;
  border: 3px solid pink;
}
#spentButton:hover, #incomeButton:hover, #setButton:hover {
  background-color: pink;
  animation: grossissement 0.3s forwards;
}
#spentButton:active, #incomeButton:active, #setButton:active {
  border: 3px solid white;
}

#spentInput, #incomeInput, #setInput {
  font-size: 50%;
  border: 3px solid pink;
  border-radius: 10px;
}

#spent, #income, #set {
  margin-top: 15px;
  font-size: 200%;
}
