main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 440px;
  margin-top: 15px;
  width: 100%;
}

#moneycount {
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

#amountspace {
  display: flex;
  justify-content: center;
}

#deptspace {
  display: flex;
  align-items: end;
  margin-left: 5px;
  font-size: 30px;
}

#spent {
  margin-top: 15px;
  font-size: 200%;
}

#spentButton,
#incomeButton,
#setButton {
  background-color: white;
  font-size: 20px;
  border-radius: 100px;
  border: 3px solid pink;
}

#spentButton:hover,
#incomeButton:hover,
#setButton:hover {
  background-color: pink;
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

#spentButton:not(:hover),
#incomeButton:not(:hover),
#setButton:not(:hover) {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

#spentButton:active,
#incomeButton:active,
#setButton:active {
  border: 3px solid white;
}

#spentInput,
#incomeInput,
#setInput {
  font-size: 50%;
  border: 3px solid pink;
  border-radius: 10px;
}

#spent,
#income,
#set {
  margin-top: 15px;
  font-size: 200%;
}

#reset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-top: 20px;
}

#resetButton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
  border: 5px solid pink;
  width: 100px;
  height: 50px;
}

#resetButton:hover {
  cursor: pointer;
  background-color: pink;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

#resetButton:not(:hover) {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

#resetButton:active {
  border: 5px solid white;
}

@media (prefers-color-scheme: dark) {
  #spentInput,
  #incomeInput,
  #setInput {
    border: 3px solid rgb(78, 113, 218);
  }
  #spentButton,
  #incomeButton,
  #setButton {
    border: 3px solid rgb(78, 113, 218);
  }
  #spentButton:hover,
  #incomeButton:hover,
  #setButton:hover {
    background-color: rgb(78, 113, 218);
  }
  #resetButton {
    background-color: white;
    border: 5px solid rgb(78, 113, 218);
  }
  #resetButton:hover {
    background-color: rgb(78, 113, 218);
  }
}
