main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 440px;
  margin-top: 15px;
  width: 100%;
}

#moneycount {
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

#amountspace {
  display: flex;
  justify-content: center;
}

#deptspace {
  display: flex;
  align-items: end;
  margin-left: 5px;
  font-size: 30px;
}

#spent {
  margin-top: 15px;
  font-size: 200%;
}

#spentButton,
#incomeButton,
#setButton {
  background-color: white;
  font-size: 20px;
  border-radius: 100px;
  border: 3px solid var(--color-of-border);
}

#spentButton:hover,
#incomeButton:hover,
#setButton:hover {
  background-color: var(--color-of-border);
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

#spentButton:not(:hover),
#incomeButton:not(:hover),
#setButton:not(:hover) {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

#spentButton:active,
#incomeButton:active,
#setButton:active {
  border: 3px solid white;
}

#spentInput,
#incomeInput,
#setInput {
  font-size: 50%;
  border: 3px solid var(--color-of-border);
  border-radius: 10px;
}

#spent,
#income,
#set {
  margin-top: 15px;
  font-size: 200%;
}

#reset {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  margin-top: 20px;
}

#resetButton {
  color: var(--color-of-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
  border: 5px solid var(--color-of-border);
  width: 100px;
  height: 50px;
  background-color: transparent;
}

#resetButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

#resetButton:not(:hover) {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

#resetButton:active {
  border: 5px solid white;
}