#cardstext {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 40px;
  font-style: italic;
}

main {
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  overflow-x: auto;
  max-width: 350px;
  max-height: 600px;
  margin-top: 30px;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

.wrapper .item {
  min-width: 230px;
  height: 400;
  line-height: 400px;
  text-align: center;
  background-color: gray;
  margin-right: 10px;
  border-radius: 10px;
}

#item1 {
  background-image: url(../assets/firstcard.png);
  background-size: 300%;
  background-position: 200%;
}

#item2 {
  background-image: url(../assets/secondcard.png);
  background-size: 110%;
  background-position: 100%;
}

#item3 {
  background-image: url(../assets/thirdcard.png);
  background-size: 175%;
  background-position: center;
}
