main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  min-width: 100%;
}

#taskstext {
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

.wrapper {
  display: flex;
  overflow-x: auto;
  max-height: 300px;
  min-height: 300px;
  max-width: 300px;
  min-width: 300px;
  margin-top: 30px;
  border: 5px solid pink;
  border-radius: 10px;
}

#tasks {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  max-height: 300px;
}

#task {
  margin-top: 15px;
  font-size: 200%;
}

#taskAmountInput,
#taskNameInput {
  font-size: 50%;
  border: 5px solid pink;
  border-radius: 10px;
}

@keyframes grossissement {
  from {
    font-size: 65%;
  }

  to {
    font-size: 75%;
  }
}

#addButton {
  background-color: white;
  font-size: 20px;
  border-radius: 100px;
  border: 2px solid pink;
}

#addButton:hover {
  animation: grossissement 0.3s forwards;
  background-color: pink;
}

@media (prefers-color-scheme: dark) {
  #taskAmountInput,
  #taskNameInput {
    border: 5px solid rgb(78, 113, 218);
  }

  #slatespaces {
    border: 5px solid rgb(78, 113, 218);
  }
  .wrapper {
    border: 5px solid rgb(78, 113, 218);
  }
}
