main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  min-width: 100%;
}

#taskstext {
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

.wrapper {
  display: flex;
  overflow-x: auto;
  max-height: 200px;
  min-height: 200px;
  max-width: 300px;
  min-width: 300px;
  margin-top: 30px;
  border: 5px solid var(--color-of-border);
  border-radius: 10px;
}

.wrapper::-webkit-scrollbar {
  width: 0;
}

ul {
  display: flex;
  justify-content: start;
  flex-direction: column;
  min-width: 105%;
  min-height: 100%;
}

li {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  min-width: 100%;
}

.removeButtonTask {
  background: transparent;
  background-image: url(../assets/suppr.png);
  background-position: center;
  background-size: 100%;
  max-height: 15px;
  min-height: 15px;
}

.removeButtonTask:hover {
  cursor: pointer;
}

#tasks {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  max-height: 300px;
}

#task {
  margin-top: 15px;
  font-size: 200%;
}

#taskAmountInput,
#taskNameInput {
  font-size: 50%;
  border: 5px solid var(--color-of-border);
  border-radius: 10px;
}

@keyframes grossissement {
  from {
    font-size: 65%;
  }

  to {
    font-size: 75%;
  }
}

#addButton {
  background-color: white;
  font-size: 20px;
  border-radius: 100px;
  border: 2px solid var(--color-of-border);
}

#addButton:hover {
  animation: grossissement 0.3s forwards;
  background-color: var(--color-of-border);
}

#resetButton {
  margin: auto;
  color: var(--color-of-text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 20px;
  border: 5px solid var(--color-of-border);
  width: 100px;
  height: 50px;
  margin-top: 20px;
  background-color: transparent;
}

#resetButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

#resetButton:not(:hover) {
  transition: transform 0.5s ease-in-out;
}

#newtask {
  display: flex;
  justify-content: center;
  margin: auto;
}