main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  min-width: 100%;
}

#slatespaces {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  min-width: 25%;
  height: 250px;
  background-image: url(../assets/slate.avif);
  background-size: auto;
  background-attachment: local;
  border-radius: 10px;
  border: 5px solid pink;
}

#task {
  margin-top: 15px;
  font-size: 200%;
}

#taskInput {
  font-size: 50%;
  border: 5px solid pink;
  border-radius: 10px;
}

@keyframes grossissement {
  from {
    font-size: 65%;
  }

  to {
    font-size: 75%;
  }
}

#addButton {
  background-color: white;
  font-size: 20px;
  border-radius: 100px;
  border: 2px solid pink;
}

#addButton:hover {
  animation: grossissement 0.3s forwards;
  background-color: pink;
}