body {
  color: black;
  justify-content: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgb(54, 54, 54);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 15px;
  width: 100%px;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}

h2 {
  margin-bottom: 10px;
  animation: bounce 0.4s ease infinite alternate;
  font-size: 260%;
}

/* #logo1 {
  display: flex;
  height: 100px;
  width: 100px;
  background-image: url(../assets/money.gif);
  background-position: 100%;
  background-size: 100%;
}

#logo2 {
  display: flex;
  height: 100px;
  width: 100px;
  background-image: url(../assets/money.gif);
  background-position: 100%;
  background-size: 100%;
} */

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 440px;
  margin-top: 15px;
  width: 100%;
}

#moneycount {
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

#spent {
  margin-top: 15px;
  font-size: 200%;
}

@keyframes grossissement {
  from {
    font-size: 65%;
  }

  to {
    font-size: 75%;
  }
}

#spentButton {
  font-size: 20px;
  border-radius: 100px;
}

#spentButton:hover {
  animation: grossissement 0.5s forwards;
}

#income {
  margin-top: 15px;
  font-size: 200%;
}

#incomeButton {
  font-size: 20px;
  border-radius: 100px;
}

#incomeButton:hover {
  animation: grossissement 0.5s forwards;
}

#set {
  margin-top: 15px;
  font-size: 200%;
}

#setButton {
  font-size: 20px;
  border-radius: 100px;
}

#setButton:hover {
  animation: grossissement 0.5s forwards;
}

#amount {
  font-size: 70px;
}

#amountspace {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  height: 100px;
  color: black;
  font-weight: bold;
}

#homespace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

#homeicone {
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url(../assets/money.png);
  background-position: 100%;
  background-size: 100%;
}

#cardsspace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

#cardsicone {
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url(../assets/cards.png);
  background-position: 100%;
  background-size: 100%;
}

#graphespace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

#grapheicone {
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url(../assets/graphe.png);
  background-position: 100%;
  background-size: 100%;
}

#calculatorspace {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100px;
  width: 100px;
}

#calculatoricone {
  display: flex;
  width: 50px;
  height: 50px;
  background-image: url(../assets/calculator.png);
  background-position: 100%;
  background-size: 100%;
}

@keyframes grossissementcartes {
  from {
    width: 50px;
    height: 50px;
  }

  to {
    width: 70px;
    height: 70px;
  }
}

#grapheicone:hover {
  cursor: pointer;
  animation: grossissementcartes 0.8s forwards;
}

#cardsicone:hover {
  cursor: pointer;
  animation: grossissementcartes 0.8s forwards;
}

#homeicone:hover {
  cursor: pointer;
  animation: grossissementcartes 0.8s forwards;
}

#calculatoricone:hover {
  cursor: pointer;
  animation: grossissementcartes 0.8s forwards;
}

#background-video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}